# Logs
*.log

# Dependencies
node_modules/

# Build outputs
dist/
src-tauri/target/

# IDE
.vscode/*
!.vscode/extensions.json
.idea/
*.sw?
.DS_Store
Thumbs.db

# Settings (contains API keys!)
**/settings.json
